* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.1em;
    color: #333;
    background-color: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1.5rem 1rem;
    font-size: 1.6em;
    color: navy;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.15);
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    display: grid;
}

fieldset {
    display: grid;
    gap: 0.75rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.15);
    border-radius: 0.25rem;
    padding: 1.25rem;
}

legend {
    padding: 0 0.5rem;
    color: navy;
    font-size: 1.3em;
    font-weight: bold;
}

label,
input,
button,
select,
textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

fieldset:last-of-type label,
.column1 label {
    text-align: left;
    padding-right: 0;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    justify-self: start;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}

.form-item:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

button {
    margin: 1rem auto;
    justify-self: center;
    background-color: #1a5ab5;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.75rem 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}