h1 {
    color: rgb(45, 45, 221);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 600px;
    margin: 20px auto 0 auto;
    padding: 10px 0;
}

form {
    background-color: rgb(216, 213, 213);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
}

.exampleCode {
    background-color: rgb(68, 68, 68);
    color: white;
    margin-left: 2rem;
    margin-right: 15rem;
    padding: 10px 24px;
    display: inline-block;
    width: fit-content;
}

button {
    background-color: rgb(45, 45, 221);
    color: white;
    border: none;
    border-radius: .3rem;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    width: 540px;
}

label {
    margin-top: 15px;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}